

body, html {
    font-size: 20px;
    font-family: 'raleway','M PLUS Rounded 1c', sans-serif;
    background-color:hsl(240, 20%, 96%);
    margin: 0em;
    font-weight: lighter;    
    overflow: auto;
}
#email{
    background-color: rgba(255, 255, 255, 0.781);
    font-size: 1rem;
    padding-left: 2rem;
    padding-top: 1rem;
    
    }
#mail{
    float: left;
    max-width: 100%;
    height: auto;
    min-width: 25px;
    min-height: 20px;
    padding-right: 1rem;
}
#tel{
    
    padding-right: 2rem;
    max-width: 100%;
    height: auto;
    min-width: 20px;
    min-height: 20px;    
}
.floatR{
    float: right;
}
#locate{
    
    padding-left: 10em;
    border:0;
    padding-right: .65rem;
    width: auto;
    max-height: 50%;
    height: 25px;
}
a {
    text-decoration: none;
    color: rgb(12, 12, 12);
}
#phone{
    border: 0;
    padding-right: 0.5rem;
    min-width: 26px;
    min-height: 20px;
  
}
#home{
    font-size: 2em;
    color:rgb(82, 75, 62);
    text-align: center;	    
    background-color:rgba(255, 255, 255, 0.781);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-repeat:space;
    background-position:center;
    padding: 1em;
    padding-top: 0.75em;
}
#myTopnav{
    overflow: hidden;
    font-size: .75em;
    font-weight: lighter;
    margin-top: none;
    background-color:rgba(74, 77, 77, 0.993);
    text-align:center;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.sticky{
        position: fixed;
        top: 0;
        width: 100%;}
#tagline{
    font-size: .6em;
    font-weight:lighter;
}
.industries{
    margin: 0;
    text-align: center;
    padding: 2em;
    background-color: rgb(66, 66, 66);
}
.industries2{
    margin: 0;
    text-align: center;
    padding: 2em;
}
#intro{
    margin: 2em;
    text-align: center;
    flex: 2;
}
#name{
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: .5em;
    letter-spacing: 2px;    
    font-size: 1.5em;
    font-weight: lighter;
}
#footer{
    background-color:rgba(74, 77, 77, 0.993);
    padding: .70em;
    margin-top: 0;
    color: rgb(196, 193, 193);
    font-weight: lighter;
    text-align: center;
}
#footer a{
    color: rgb(156, 156, 156);
    font-weight: lighter;
}
.text{
    line-height: 2;
    text-align: center;
}
.iframe-container {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
      }
.iframe-container iframe {
        border: 0;
        height: 75%;
        left: 12%;
        position: absolute;
        top: 5%;
        width: 75%;
     }   
.iframe-container-4x3 {
    padding-top: 50%;
  }
section img{
    max-width: 100%;
    height: auto;
}
.gimbal{
    margin:1em;    
    max-width: 320px;
}
.fc{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.fcrow{
    display: flex;
    flex-flow: row wrap;
    margin-top: -1em;
    justify-content: space-evenly;
}
.printing{
    margin-top: 2em;
}
.fc > *{
    flex: 1;
    }
.pad{
    padding: 1.5em;
}
.software{
    color: rgb(233, 233, 233);
    margin: auto;
    max-width: 100%;  
    max-height: 600px;
    height: auto;
    padding: 1.5em;
    line-height: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: left;
    font-size: 1rem;
    border-radius: 10px;
}
.software li a{
     color: rgb(254, 255, 255);
}
.white{
    color: rgb(254, 255, 255);
    font-weight: lighter;
}
#listhov a:hover{
    color: rgb(199, 240, 53);
}   
#skills2{
    text-align: left;
    max-width: 100%;
    margin: 0;
    font-size: 1rem;
    color: rgb(254, 255, 255);
}
h3{
    text-align: center;
}
.section:target {
    padding-top: 50px;
}
.cert{
    width: 500px;
    height: auto;
    overflow: hidden;
    background-size: cover;    
    margin: 1em;
    padding: 2px;
    }
.cert2{    
        margin: 1em;
        padding: 2px;
        }
#mugshot{
    border: 3px solid black;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-image: url("../images/mugshot.jpg");
    background-size: cover;
    background-position-y: -20px;
    margin: auto;
}
iframe{
    margin-bottom: 2em;
    
}
#ortho{
    padding-bottom: 2em;
}
/*black background color to the top navigation */
.topnav {
    background-color: rgb(87, 79, 79);
    overflow: hidden;
    z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {    
    float: left;
    display: block;
    color: rgb(224, 224, 224);
    text-align: center;
    padding: .75em 3em;
    text-decoration: none;
    font-size: 1.5em;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: rgb(210, 255, 106);
}

/* Add an active class to highlight the current page */
.active {
    
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Page content */
.content {
    padding: 16px;
  }
.topnav .contacts{display: none;}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
  }

/* When the screen is less than 965 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 80em) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    #email{display: none;}
    #remcontact{display: none;}
    
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 80em) {
    .topnav.responsive {position: relative; width: 100%;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

 /* doubled up the previous css and added sticky as a class to it */
 @media screen and (max-width: 80em) {
    .topnav.responsive.sticky {position: fixed;}
    .topnav.responsive.sticky a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive.sticky a {
      float: none;
      display: block;
      text-align: left;
    }
  }